
h1{
    font-family: 'Berkshire Swash', cursive;
    color: red;
    padding-left: 100px;
}
#green{
    background-color: green;
   padding-bottom: 10px;
   padding-left: 500px;
   
   
}
#fruit{
    background-image: url(img/fruit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    
}
#one{
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.8;
   
}

#foot{
    background-color: cyan;
}
a{
    padding: 10px;

}
h3{
    color: black;
}